**Q1.** List any five functions of the pandas library with execution.

**groupby():**

In [3]:
import pandas as pd


data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Eva'],
    'Age': [25, 30, 28, 22, 35],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Group DataFrame by 'Gender' and calculate average age
gender_group = df.groupby('Gender')
average_age_by_gender = gender_group['Age'].mean()

print(average_age_by_gender)

Gender
Female    29.333333
Male      26.000000
Name: Age, dtype: float64

**drop():**

In [4]:
df = df.drop(['Age', 'Gender'], axis=1)

print(df.head())

     Name
0   Alice
1     Bob
2  Claire
3   David
4     Eva

**merge():**

In [5]:

data1 = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Claire']
}
data2 = {
    'ID': [1, 2, 4],
    'Age': [25, 30, 28]
}

# Create two DataFrames
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge DataFrames based on 'ID'
merged_df = pd.merge(df1, df2, on='ID')

print(merged_df)

   ID   Name  Age
0   1  Alice   25
1   2    Bob   30

**pivot_table():**

In [6]:

data3 = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Eva'],
    'Subject': ['Math', 'Science', 'Math', 'Science', 'Math'],
    'Score': [90, 85, 78, 92, 88]
}

# Create a DataFrame
df = pd.DataFrame(data3)

# Create a pivot table
pivot_table = df.pivot_table(index='Name', columns='Subject', values='Score', aggfunc='mean')

print(pivot_table)

Subject  Math  Science
Name
Alice    90.0      NaN
Bob       NaN     85.0
Claire   78.0      NaN
David     NaN     92.0
Eva      88.0      NaN

**sort_values()**

In [7]:
# Sort the DataFrame by 'Score' in ascending order

sorted_df = df.sort_values(by='Score')

print(sorted_df)

     Name  Subject  Score
2  Claire     Math     78
1     Bob  Science     85
4     Eva     Math     88
0   Alice     Math     90
3   David  Science     92

**Q2.** Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [15]:

def reindex_dataframe(df):
    # Reset the existing index and drop the old index column
    df_reindexed = df.reset_index(drop=True)
        
    # Reassign the new index to the DataFrame
    df_reindexed.index = df_reindexed.index * 2 + 1
    
    return df_reindexed


data = {
    'A': [10, 20, 30, 40],
    'B': [100, 200, 300, 400],
    'C': [1000, 2000, 3000, 4000]
}

df = pd.DataFrame(data)

# Call the reindex_dataframe function
df_reindexed = reindex_dataframe(df)

print(df_reindexed)

    A    B     C
1  10  100  1000
3  20  200  2000
5  30  300  3000
7  40  400  4000

**Q3.** You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [16]:
def calculate_sum_of_first_three(df):
   
    total_sum = 0
    for value in df['Values'].head(3):
        total_sum += value
    print("Sum of the first three values in 'Values' column:", total_sum)


data = {
    'Values': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)
calculate_sum_of_first_three(df)

Sum of the first three values in 'Values' column: 60

**Q4.** Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [30]:
def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: x.split())

    df['Word_Count'] = df['Word_Count'].apply(lambda x : len(x))

data = {
    'Text': ['Cricket is a popular sport ', 'played between two teams', 'of eleven players each']
}
df = pd.DataFrame(data)

add_word_count_column(df)

print(df)

                          Text  Word_Count
0  Cricket is a popular sport            5
1     played between two teams           4
2       of eleven players each           4

**Q5.** How are DataFrame.size() and DataFrame.shape() different?

**DataFrame.size():**

Returns the total number of elements in the DataFrame (rows x columns).

Counts both the actual data elements and any missing or NaN values in the DataFrame.

It is an attribute, not a method, so no parentheses are required when calling it.

The return value is a single integer representing the size of the DataFrame.

**DataFrame.shape():**

Returns a tuple representing the dimensions of the DataFrame (rows, columns).

Provides information about the structure of the DataFrame, without counting the actual data elements.

The return value is a tuple of two integers representing the number of rows and columns, respectively.

It is a property, not a method, so no parentheses are required when calling it.

**Q6.** Which function of pandas do we use to read an excel file?

In [ ]:
import pandas as pd

df = pd.read_excel('file_name.xlsx')

**Q7.** You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [32]:

def extract_username(df):
    # Use the str.split() method to split the 'Email' column by '@' and get the username part
    df['Username'] = df['Email'].str.split('@').str[0]

# Sample data for the DataFrame
data = {
    'Email': ['ramesh46@example.com', 'aman_34@example.com', 'pavan@example.com']
}
df = pd.DataFrame(data)

extract_username(df)

print(df)

                  Email  Username
0  ramesh46@example.com  ramesh46
1   aman_34@example.com   aman_34
2     pavan@example.com     pavan

**Q8.*8 You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [33]:
def select_rows(df):
       selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
       return selected_rows


data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}

df = pd.DataFrame(data)

selected_df = select_rows(df)

print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

**Q9.** Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [34]:
def calculate_stats(df):
    
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()
    
    return mean_value, median_value, std_value


data = {
    'Values': [10, 20, 30, 40, 50,34,45,67,78,78,1000]
}

df = pd.DataFrame(data)

mean, median, std = calculate_stats(df)

print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 132.0
Median: 45.0
Standard Deviation: 288.73413376322515

**Q10.** Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [57]:
def calculate_moving_average(df):
    # Moving Average = (Sum of the last 'n' data points) / 'n'
    
    df['MovingAverage'] = round(df['Sales'].rolling(window=7, min_periods=1).mean(),2)

    
data = {
    'Date': pd.date_range(start='2023-07-01', periods=20),
    'Sales': [100, 150, 120, 200, 180, 210, 250, 220, 270, 230,345,123,456,245,157,357,787,456,122,333]
}
df = pd.DataFrame(data)

calculate_moving_average(df)

print(df)

         Date  Sales  MovingAverage
0  2023-07-01    100         100.00
1  2023-07-02    150         125.00
2  2023-07-03    120         123.33
3  2023-07-04    200         142.50
4  2023-07-05    180         150.00
5  2023-07-06    210         160.00
6  2023-07-07    250         172.86
7  2023-07-08    220         190.00
8  2023-07-09    270         207.14
9  2023-07-10    230         222.86
10 2023-07-11    345         243.57
11 2023-07-12    123         235.43
12 2023-07-13    456         270.57
13 2023-07-14    245         269.86
14 2023-07-15    157         260.86
15 2023-07-16    357         273.29
16 2023-07-17    787         352.86
17 2023-07-18    456         368.71
18 2023-07-19    122         368.57
19 2023-07-20    333         351.00

**Q11.** You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [59]:

def add_weekday_column(df):
    # Convert 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Extract the weekday name and create the 'Weekday' column
    df['Weekday'] = df['Date'].dt.day_name()

    return df

data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
}

df = pd.DataFrame(data)

df = add_weekday_column(df)

print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

**Q12.** Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [60]:
def select_rows_between_dates(df):
    
    df['Date'] = pd.to_datetime(df['Date'])

    # Filter rows where the date is between '2023-01-01' and '2023-01-31'
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

    return selected_rows

data = {
    'Date': ['2023-01-01', '2023-01-15', '2023-01-25', '2023-02-01', '2023-02-15']
}
df = pd.DataFrame(data)
selected_df = select_rows_between_dates(df)

print(selected_df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-25

**Q13.** To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself

In [61]:
import pandas as pd